.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 5%;
    box-sizing: border-box;
}


.logo-img {
    height: 40px; 
    width: auto;  
    display: block;
    transform: scale(1.2); 
}

.header-left {
    display: flex;
    align-items: center;
    min-width: 150px; 
}


.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    align-items: center;
}

.nav-links li:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
    color: #4d4d4d;
    opacity: 0.3; 
}

.nav-links li a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #4d4d4d;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #a1c68b;
}

.join-btn {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #003f2b;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 2px solid #003f2b; /* Solo una línea abajo para un toque único */
    padding-bottom: 4px;
    transition: 0.3s;
}

.join-btn:hover {
    opacity: 0.6;
}

/* Ajuste para móviles */
@media (max-width: 900px) {
    .main-header {
        flex-direction: column;
        padding: 20px;
    }
    .nav-center {
        position: static;
        transform: none;
        margin: 20px 0;
    }
}